<div>
  <h1>Cómo lo he hecho</h1>
  <div class="explanation">
    <p>
      Quería empezar explicando cómo ha sido mi experiencia: este es mi primer
      proyecto en Angular. Lo primero que aprendí fue no todas las versiones de
      Angular son compatibles con todas las versiones de Node. Creo que es
      importante comentar que empezado de cero este proyecto entre 5 y 10 veces.
      Me quedaba atascada, no era capaz de resolver los problemas y empezaba de
      nuevo. Este ha sido mi gran fallo, querer aspirar a lo "máximo".
      <br /><br />
      Quería entregar un proyecto con una estructura que luego a medida que iba
      desarrollando componentes no era capaz de renderizarlos. Me he rendido
      muchas veces en estos 10 días, y ayer me había planteado no entregar nada,
      pero al final he optado por dejar totalmente de lado la estructura que
      quería para intentar presentar algo que muestre las cosas que sí he
      aprendido. Para que entendáis a lo que me refiero, este es el primer
      repositorio que incié, con la estructura he quería presentar:
      <a href="https://github.com/irensvm/wallapop-item-manager/tree/master">Link</a>

      <br />No he sido capaz de crear el modal: no acabo de entender si para
      crearlo necesito crear un modelo y un servicio específico para los
      favoritos (seguiré investigando). <br />
      <br />Aprovecho este último párrafo para sincerarme y contaros que este proyecto es fruto de 7 horas de desarrollo seguidas, porque me
      había dado por vencida pero al mismo tiempo no era capaz de no presentar nada.
    </p>
  </div>
</div>
