<div>
  <h1>Cómo lo he hecho</h1>
  <div class="explanation">
    <h2>General</h2>
    <p>Quería empezar explicando cómo ha sido mi experiencia: este es mi primer proyecto en Angular.
      Lo primero que aprendí fue no todas las versiones de Angular son compatibles con todas las versiones de Node.
      Creo que es importante comentar que empezado de cero este proyecto entre 5 y 10 veces. Me quedaba atascada, no era
      capaz de resolver los problemas y en lugar de aspirar a la "excelencia", probaba de nuevo.
      Quería entregar un proyecto con una estructura que luego a medida que iba desarrollando componentes no era capaz
      de renderizarlos.
      Me he rendido muchas veces en estos 10 días, y ayer me había planteado no entregar nada, pero al final he
      optado por dejar de lado la estructura que quería para intentar presentar algo que muestre las cosas que sí he aprendido.
      Para que entendáis a lo que me refiero, este es el repositorio con la estructura he quería presentar: <a
        href="https://github.com/irensvm/wallapop-item-manager/tree/master">Link</a>
      
        

    </p>
    


  </div>
</div>
