<app-not-found [visible]="!item" notFoundMessage="Item no encontrado" resetLinkText="Volver a item manager"></app-not-found>
<div>
    <button routerLink="/">Volver a Item Manager </button>
    <div class="container">

        <div class="item-img">
            <img [src]="item.image" [alt]="item.title" />
    
        </div>
      
      <div class="item-details">
        <div>
          <h1>{{ item.title }}</h1>
        </div>
        <div>{{ item.description }}</div>
        <div>Precio: {{ item.price }} €</div>
        <div>Vendedor: {{ item.email }}</div>
      </div>
      <button class="fav-button">Favoritear</button>
    
    </div>

</div>

